html {
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    background: url("background-cherry-tree.jpg") no-repeat center center/cover;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    height: 600px;
    background: url("forest.jpg") no-repeat center center/cover;
    color: ffffff;
    opacity: 0.9;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

}

.items-container{
    flex-grow: 1;
    /* overflow-y: auto; */
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;  
}

.new-item-container{
    border-top:  1px solid #EFEFEF;
    padding: 20px 40px;
    display:  flex;
}

h1 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #734671;
}


.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    border-bottom: 1px solid #F4ECF3;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.75);

}

.item-text{
font-family: 'Aleo', serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: rgba(0, 0, 0, 0.75);
}


.new-item-input {
    color:white;
    flex-grow: 1;
    font: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    appearance: none;
    border: none;
    background: none;
    padding: 20px 40px;
    display: flex;
    justify-content: stretch;
    width: 100%;
    box-sizing: border-box;
}

.new-item-input >input {
    width: 20px;
    height: 20px;
    background: none;
    border: 2px solid #9f9f9f;
    border-radius: 2px;
    appearance: none;
    position: relative;
     width: 100%;
    font-family: 'Aleo', serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
appearance: none;
border: none;
background: none;
color: whitesmoke; 
}


/* .items{

    flex-direction: column;
    align-items: stretch;
    padding: 10px 0px;
    width: 600px;
    height: 536px;
    overflow-y: auto;
    flex-grow: 1;
    
    } */